<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

You are from
<span id="address">{{ address }}</span> with ip {{ ip }}

<input type="text" placeholder="Destination" id="destination" />
<br/>
<span id="result"></span>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{{ place }}

<script>

	function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) == (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
		return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');
	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
		crossDomain: false, // obviates need for sameOrigin test
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type)) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});

	var input = document.getElementById('destination');
	var autocomplete = new google.maps.places.Autocomplete(input);
	
	
	google.maps.event.addListener(autocomplete, 'place_changed', function(){
		console.log(autocomplete.getPlace());
		var place = autocomplete.getPlace();
		var latitude = place.geometry.location.k;
		var longitude = place.geometry.location.D;
		$('#result').text('Calculating...');
		$.ajax({
			url: 'calculate/',
			type: 'POST',
			data: { 
					'latitude': latitude,
					'longitude': longitude 
				}
		}).done(function(data){
			$('#result').text("distance from " + $('#address').text() + " to " + $('#destination').val() + " is " + data);
		});
	});
</script>